.App {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
}

.svg-container {
    stroke: red;
    stroke-width: 10;
}

.svg-animate {
    width: 800px;
    height: 800px;
}

svg {
    height: 100%;
    width: 100%;
}

.path {
    stroke-dasharray: 126533.328125;
    /* Set the total length of the path */
    stroke-dashoffset: 126533.328125;
    /* Start with the path hidden */
    animation: drawPath 15s linear forwards;
    /* Animation properties */
}

@keyframes drawPath {
    to {
        stroke-dashoffset: 0;
    }
}